@import "compass";
@import "partials/variables";
@import "partials/normalize";


body{
  font-size: 14px;
  background: #fff;
}

*, a, a:focus, a:active, a:visited{
  outline: none;
  border: 0;
}

.center{
  text-align: center;
}
.test{
  border:1px solid red;
}
.active-color{
  height: 18px;
  width: 18px;
  margin: 0 16px 0 0;
  border-radius: 50%;
  background:#ef0d33;
  opacity: 0.8;
}
.active-color.green{
  background:#23E0BA;
}

// angular overwrite

md-input-container.md-icon-left {
    padding-left: 36px;
    padding-right: 36px;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: $btn-color;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
   color:$btn-color;
}
md-dialog {
  max-height: 95% !important;
}
.md-dialog-content h2{
  font-family: $varela !important;
}
md-input-container.md-default-theme .md-input, md-input-container .md-input{
  font-family: $pt-sans;
  font-size: 1rem;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary{
  color: $btn-color;
}

// container from bootstrap
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $xs-break) {
      width: 750px;
  }
  @media screen and (min-width: $md-break) {
    width: 970px;
  }
  @media screen and (min-width: $lg-break) {
    width: 1170px;
  }
  @media screen and (min-width: $xl-break) {
    width: 1400px;
  }
}

// index.html starts from here

.row-nav.home{
  height: 4rem;
  width: 100%;
  position: fixed;
  background: rgba(255,255,255,1);
  // border-bottom: 1px solid #E0E0E0;
  // box-shadow: 0 2px 20px 0 rgba(128, 128, 128, 0.5);
  // position: fixed;
  top: 0;
  z-index: 10;
  .wrapper{
    height: 100%;
  }
  .btn-primary.btn-color {
    color: $btn-color;
    background: $white;
  }
  .nav-li-items{
    ul li{
      display: inline-block;
      margin: auto 1.4rem;
      a{
        color: #42526E;
        font-family: $varela;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42857142857143;
        letter-spacing: -.005em;
        cursor: pointer;
        position: relative;
        // text-transform: uppercase;
        text-decoration: none;
        transition: color .3s ease;
        // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
        &:hover{
          @include transition(all 0.3s ease-in-out);
          color:$btn-color;
          opacity:1;
        }
      }
    }
  }
}


.button{
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 2rem;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
  font-size: 14px;
  width: 150px;
  color: #FFFFFF;
  background-color: $btn-color;
  border-radius: 4px;
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.button1{
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 10px;
  // box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
  margin: 5px 0;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
  color: #FFFFFF;
  background-color: $btn-color;
  border-radius: 4px;
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.ngview.home{
  position: relative;
  top: 70px;
}
// home.html starts form here
.home-section{
  // background: #647ED3;
  height: calc( 100vh - 70px);
  width: 100%;
  .container{
    height: 100%;
  }
  .heading-wrapper{
    margin:50px auto;
    h1{
      font-size: 2rem;
      text-align: center;
      color: #4D4E52;
      margin-bottom: 3rem;
      max-width: 500px;
      font-weight: 500;
      font-family: $montserrat;
    }
    p{
      font-family: $open-sans;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 22px;
      color: #9da6b8;
      max-width: 500px;
      text-align: center;
      font-weight: 300;
    }
  }
}

.login-section{
  height: 100vh;
  background: $btn-color;
  .container{height: 100%}
  .card{
    height: 400px;
    width: 320px;
    margin: auto;
    background: $white;
    h2{
      font-family: $montserrat;
      font-size: 2rem;
      color: #4D4E52 ;
    }
    .form{
      padding: 16px !important;
      i{
        font-size: 20px;
      }
    }
  }
}

.btn-small{
  margin: 0;
  padding: 4px;
  width: 100px;
}

.signup-section{
  height: 100vh;
  background: $btn-color;
  .container{height: 100%}
  .card{
    height: 500px;
    width: 600px;
    margin: auto;
    background: $white;
    h2{
      font-family: $montserrat;
      font-size: 2rem;
      margin: 2rem;
      color: #4D4E52 ;
    }
    .form{
      padding: 16px !important;
      i{
        font-size: 24px;
      }
    }
    md-input-container{
      margin: 1rem 10px;
    }
  }
}

.rebate-section{
  height: 100vh;
  background: $btn-color;
  .container{height: 100%}
  .card{
    height: 600px;
    width: 600px;
    margin: auto;
    background: $white;
    h2{
      font-family: $montserrat;
      font-size: 2rem;
      margin: 2rem;
      color: #4D4E52 ;
    }
    .form{
      padding: 16px !important;
      i{
        font-size: 24px;
      }
    }
    md-input-container{
      margin: 1rem 10px;
    }
  }
}


// dash section starts from here
.dash-section{
   .left {
     width: 240px;
     float: left;
     height: 100vh;
     position: fixed;
     background: #F4F5F7;
     .content-wrapper{
       padding: 2rem;
       img{
         border-radius: 50%;
       }
       .text{
         margin: 2rem 0;
         width: 100%;
         p, span{
           font-family: $open-sans;
           margin: 0;
           padding: 0;
           font-size: 1.2rem;
           line-height: 30px;
           color: #42526E;
         }
         span{
           &:nth-child(1){
             margin-top:20px;
           }
           font-size: 0.9rem;
           opacity: 0.9;
         }
       }
     }
     .actions{
       height:100px;
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
     }
   }
   .right {
     float: none; /* not needed, just for clarification */
     background: white;
     position: relative;
     left:240px;
     /* the next props are meant to keep this block independent from the other floated one */
     width:calc(100% - 240px);
     overflow: hidden;
     .meal-data{
       margin: 2rem;
     }

     .data-card{
       height: 150px;
       margin: 10px;

       ul{
         list-style-type: none;
         height: 100%;
         line-height: 200%;
         margin: 0;
         padding: 20px 10px;

         li{
           font-size: 22px;
           font-family: $varela;
         }

         span{
           font-size: 18px;
           margin: 0px;
           color: $content-gray2;
         }
       }

       .icon-container{
         padding: 20px;
         background-color: $btn-color;
         height: 100%;

         text-align: center;
         i{
           font-size: 50px;
           color: $white;
         }
         h1{
           color: $base-gray;
           font-family: $montserrat;
         }
       }
     }

     .graph-container{
       padding: 50px;


     }
   }

   .filter-head{
      h1{
        font-family: $montserrat;
        font-weight: 400;
      }
    }

   .meal-filter{
     padding: 20px;

     i{
       font-size: 20px;
     }

   }
}
.poster-details{
  border-collapse: collapse;
  margin: 50px auto;
  width:100%;
  .key{
    padding: 16px 2rem;
    width: 100%;
    border-bottom: 1px solid #eee;
    a{
      font-family: $varela;
      font-size: 1rem;
      color:$btn-color;
    }
  }
  .value:nth-child(odd) {
    background-color:#DBF4E0;
  }
  .value{
    padding: 14px 2rem;
    width: 100%;
    font-family:$open-sans;
    font-size: 14px;
    line-height: 30px;
    text-transform: capitalize;
    color: #42526E;
    div{
      text-overflow: ellipsis;
    }
    i{
      font-size: 24px;
      margin: auto 8px;
    }
  }
}
.admin-section{
  padding: 2rem;
  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
    color: $btn-color;
  }
}



// user.edit.html starts from here
.user-edit{
  max-height: 400px;
  width: 700px;
  overflow: hidden;
  background: white;
  font-family: $open-sans;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 30px;
  color: #42526E;
  img{
    border-radius: 50%;
  }
  .wrapper{
    width: 100%;
  }
  h2{
    font-size: 2rem;
    font-family: $montserrat;
  }
  .left{
    padding: 16px;
    background: #f4f5f7;
    p{
      margin: 0;
    }
  }
  .right{
    padding: 16px
  }
}
