<section class="dash-section">
  <div class="left">
    <div class="content-wrapper" layout="column" layout-align="center center">
      <img src="http://api.adorable.io/avatar/140/{{userDetails.email}}"  height="120" width="120"/>
      <div class="text" layout="column">
        <p> Hey, <br>{{userDetails.name}}</p>
        <span>{{userDetails.hostel}}</span>
        <span>{{userDetails.id}}</span>
        <span>{{userDetails.email}}</span>
      </div>
    </div>
    <div class="actions">
      <a class="button" href="" ng-click="logOut()">Logout</a>
    </div>
  </div>
  <div class="right">
    <div class="meal-data">
      <div  flex class="poster-details" layout="column" layout-align="center center">
        <div layout="row" class="key">
          <a  ng-click="sortBy('meal_type')" href="" flex="33">Meal</a>
          <a  ng-click="sortBy('rating')" href="" flex="33">Rating</a>
          <a  ng-click="sortBy('created')" href="" flex="33">Date</a>
        </div>
        <div flex layout="row" class="value" ng-repeat = "meal in meals | orderBy:propertyName:reverse">
          <div flex="33">{{meal.meal_type}}</div>
          <div flex="33">{{meal.rating}}</div>
          <div flex="33">{{meal.created | date:'medium'}}</div>
        </div>
     </div>
    </div>
  </div>
  <!-- {{userDetails}} -->
</section>
